@import url(https://fonts.googleapis.com/css?family=Gravitas+One|Vollkorn:400,700);

html, body {
  margin: 0;
  padding: 0;
  font-family: Vollkorn, Verdana, serif;
  font-weight: 400;
  height: 100%;
  text-align: center;
  color: #111;
}

#background {
  background: url("../images/background.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#content, img {
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

#content {
  z-index: 1;
  margin: 0 auto;
  padding: 0 50px;
  width: 400px;
  background: white;
  min-height: 100%;
}

h1 {
  font-family: "Gravitas One", cursive;
  font-size: 3.5em;
  font-weight: 400;
  margin: 0 auto;
  padding-top: 50px;
  text-transform: uppercase;
}

h2 {
  font-family: "Gravitas One", cursive;
  font-weight: 400;
  font-size: 1.5em;
  margin: 0 auto;
  text-transform: lowercase;
}

a {
  text-decoration: none;
  color: #07E;
}

a:visited {
  color: #07E;
}

#city {
  margin: 0 0 10px;
  padding-bottom: 20px;
  text-transform: lowercase;
}

#city a {
  padding-bottom: 10px;
  font-size: 75%;
  color: gray;
}

img {
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
}

#email {
  padding: 1.5em 0 1em;
  font-size: 90%;
}

#email em {
  font-style: normal;
  font-size: 1.1em;
}

ul {
  list-style-type: none;
  padding: 0;
}

#links li {
  display: inline;
  margin: -0.1em;
  padding: 0;
}

#links li + li:before {
  padding: 0.5em;
  content: "|";
}

#bio {
  padding: 1em;
  line-height: 1.8em;
}

#bio li:first-child {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

#projects dd, #talks dd {
  margin: 0 0 10px;
}

#projects dt, #talks dt {
  font-weight: 700;
}

#projects > div {
  margin-top: -10px;
}

#talks {
  padding-top: 1.5em;
}

@media (max-width: 550px) {
  #content { width: 80%; padding: 5%;}
  h1 { padding-top: 5px; font-size: 2.8em;}
  #city { padding-bottom: 0; }
  img { width: 90%; padding: 5%;}
}
